{% extends 'components/layout/default.html.twig' %}


{% block content %}
    <div class="panel">
        <div class="panel-header flex justify-between">
            <h1>Modifier la Table</h1>

            <a class="btn btn-primary" href="{{ path('app_table_index') }}">Voir la liste</a>

        </div>

    <div class="panel-body">
        {{ include('table/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    </div>
    </div>

{#    {{ include('table/_delete_form.html.twig') }}#}
{% endblock %}
