{% extends 'components/layout/default.html.twig' %}


{% block content %}
<div class="panel">
    <h1>Creer une nouvelle table</h1>

    {{ include('table/_form.html.twig') }}

    <a href="{{ path('app_table_index') }}">Voir la liste</a>
</div>
{% endblock %}
